.home {
    display: flex;
    // position: relative;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    &--open &__col:nth-child(1) {
        animation: 1s ease-in 0s 1 alternate forwards running homeOpenLeft;
    }
    &--open &__col:nth-child(2) {
        animation: 1s ease-in 0s 1 alternate forwards running homeOpenRight;
    }
    &--close &__col:nth-child(1) {
        animation: 1s ease-in 0s 1 reverse forwards running homeCloseLeft;
    }
    &--close &__col:nth-child(2) {
        animation: 1s ease-in 0s 1 reverse forwards running homeCloseRight;
    }


    @media screen and (max-width: 991px) {
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }


}

@keyframes homeOpenLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes homeOpenRight{
    from {
        transform: translateX(0);
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}
@keyframes homeCloseLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes homeCloseRight{
    from {
        transform: translateX(0);
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}


.color {
    color: $green-word;
}


/* Header */
.large-header {
	position: absolute;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
    top: 0;
    left: 0;
    @media screen and (max-width: 991px) {
        opacity: 0.3;
    }
}
